<!DOCTYPE html>
<html lang="en" ng-app="toDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body ng-controller="ToDoController">
    <h1>Todo List</h1>
    <section ng-repeat="item in todolist">
      {{ item.content }}
    </section>



    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/appController.js"></script>

  </body>
</html>