<!DOCTYPE html>
<html lang="en" ng-app="toDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body ng-controller="ToDoController">
    <h1>Todo List</h1>
    <section ng-repeat="item in todolist">
      <ul>
        <li>{{ item.content }}<button id="remove-todo" ng-click="remove(todo._id)">Completed!</button></li>
      </ul>
    </section>
    <table>
      <tr>
        <td>
          <input ng-model="todo.content">
        </td>
        <td>
          <button id="add-todo" ng-click="addTodo()">Add Todo</button>
        </td>
      </tr>
    </table>


    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/appController.js"></script>

  </body>
</html>