<!DOCTYPE html>
<html lang="en" ng-app="toDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body ng-controller="ToDoController">
    <h1>Todo List</h1>

    <table>
      <tr>
        <td>
          <input ng-model="todo.content">
        </td>
        <td>
          <button id="add-todo" ng-click="addTodo()">Add Todo</button>
          <button id="update-todo" ng-click="update()">Update</button>
        </td>
      </tr>
    </table>
    <main id="list">
      <table ng-repeat="todo in todolist | orderBy:'content'">
        <tr>
          <td class="todo-content">
            {{ todo.content }}
          </td>
          <td>
            <button class="remove-todo" ng-click="remove(todo._id)">Completed!</button>
          </td>
          <td>
            <button class="edit-todo" ng-click="edit(todo._id)">Edit</button>
          </td>  
        </tr>  
      </table>  
    </main>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/appController.js"></script>

  </body>
</html>